@model ParkingSpotDetailsModel


<body style="background-color: #4C98CF">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3" style="color: #CCE5EA">Parking Spot Number: @Model.ParkingSpotDetailsViewModel.Id</h1>
            <br />
            @if (Model.ParkingSpotDetailsViewModel.IsEnabled == true)
            {
                <p class="lead" style="color: #CCE5EA">The Parking Spot Is Enabled</p>
            }
            else
            {
                <p class="lead" style="color: #CB4040">The Parking Spot Is Disabled</p>
            }
            @if (Model.ParkingSpotDetailsViewModel.IsOccupied == false)
            {
                <p class="lead" style="color: #CCE5EA">The Parking Spot Is Not Occupied At The Moment</p>
            }
            else
            {
                <p class="lead" style="color: #E39797">The Parking Spot Is Occupied At The Moment</p>
            }
        </div>
    </div>

    <br />

    <h1 style="color: #CCE5EA">Parking Spot History</h1>
    @if (@Model.ParkingSpotDetailsViewModel.ParkingSpotOccupations.Count() > 0)
    {
        <div>
            <table class="table table-borderless" style="border: none; box-shadow: none; color: #CCE5EA">
                <thead>
                    <tr class="font-weight-bold">
                        <th scope="col">License Plate</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Enter DateTime</th>
                        <th scope="col">Exit DateTime</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in @Model.ParkingSpotDetailsViewModel.ParkingSpotOccupations)
                    {
                        <tr>
                            <td style="font-size: 18px">@vehicle.OccupationVehicleLicensePlate</td>
                            <td style="font-size: 18px">@vehicle.OccupationVehicleWorkerUserName</td>
                            <td style="font-size: 18px">@vehicle.EnterDateTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
                            <td style="font-size: 18px">@(vehicle.ExitDateTime.HasValue ? vehicle.ExitDateTime.Value.ToString("dd.MM.yyyy HH:mm:ss") : "N/A")</td>
                            @if (vehicle.OccupationVehicleWorkerId == Model.CurrentUserId && vehicle.ExitDateTime == null)
                            {
                            <td style="font-size: 18px">
                                <form asp-controller="Parking" asp-action="ExitSpot" method="post">
                                    <input type="hidden" name="id" value="@Model.ParkingSpotDetailsViewModel.Id" />
                                    <button type="submit" class="btn btn-success p-3 fw-bold rounded-pill d-flex justify-content-center align-items-center"
                                            style="width: 130px; height: 1px; background-color: #ED8396; border: none; box-shadow: none; line-height: normal; padding: 0;">
                                        Exit
                                    </button>
                                </form>
                            </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <br />
        <p style="color: #CCE5EA">This Parking Spot Does Not Have Any Previous Occupations</p>
    }
</body>