@model ParkingSpotDetailsViewModel


<body style="background-color: #4C98CF">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3" style="color: #CCE5EA">Parking Spot Number: @Model.Id</h1>
            @if (Model.IsEnabled == true)
            {
                <p class="lead" style="color: #CCE5EA">The Parking Spot Is Enabled</p>
            }
            else
            {
                <p class="lead" style="color: #CB4040">The Parking Spot Is Disabled</p>
            }
            @if (Model.IsOccupied == false)
            {
                <p class="lead" style="color: #CCE5EA">The Parking Spot Is Not Occupied At The Moment</p>
            }
            else
            {
                <p class="lead" style="color: #CB4040">The Parking Spot Is Occupied At The Moment</p>
                <p class="lead" style="color: #CB4040">Occupied By: @Model.OccupationVehicleLicensePlate</p>
                <p class="lead" style="color: #CB4040">Car Owner: @Model.OccupationVehicleOwner</p>
            }
        </div>
    </div>


    @if (@Model.ParkingSpotOccupations.Count() > 0)
    {
        <div>
            <br />
            <p class="text-left" style="color: #CCE5EA">Vehicles: @Model.ParkingSpotOccupations.Count()</p>
            <table class="table table-borderless" style="border: none; box-shadow: none; color: #CCE5EA">
                <thead>
                    <tr class="font-weight-bold">
                        <th scope="col">Vehicle Make</th>
                        <th scope="col">Vehicle Model</th>
                        <th scope="col">License Plate</th>
                        <th scope="col">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var vehicle in @Model)
                        {
                            <tr>
                                <td>@vehicle.Make</td>
                                <td>@vehicle.Model</td>
                                <td>@vehicle.LicensePlate</td>
                                <td>@vehicle.WorkerUserName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <br />
        <p style="color: #CCE5EA">This Parking Spot Does Not Have Any Previous Occupations</p>
    }

</body>