@model ParkingSpotDetailsViewModel


<body style="background-color: #4C98CF">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3" style="color: #CCE5EA">Parking Spot Number: @Model.Id</h1>
            @if (Model.IsEnabled == true)
            {
                <p class="lead" style="color: #CCE5EA">The Parking Spot Is Enabled</p>
            }
            else
            {
                <p class="lead" style="color: #CB4040">The Parking Spot Is Disabled</p>
            }
            @if (Model.IsOccupied == false)
            {
                <p class="lead" style="color: #CCE5EA">The Parking Spot Is Not Occupied At The Moment</p>
            }
            else
            {
                <p class="lead" style="color: #CB4040">The Parking Spot Is Occupied At The Moment</p>
                <p class="lead" style="color: #CB4040">Occupied By: @Model.OccupationVehicle.LicensePlate</p>
                <p class="lead" style="color: #CB4040">Car Owner: @Model.OccupationVehicle.WorkerUserName</p>
                <p class="lead" style="color: #CB4040">Car Make: @Model.OccupationVehicle.Make</p>
                <p class="lead" style="color: #CB4040">Car Owner: @Model.OccupationVehicle.Model</p>
            }
        </div>
    </div>


    @if (@Model.ParkingSpotOccupations.Count() > 0)
    {
        <div>
            <br />
            <p class="text-left" style="color: #CCE5EA">Vehicles: @Model.ParkingSpotOccupations.Count()</p>
            <table class="table table-borderless" style="border: none; box-shadow: none; color: #CCE5EA">
                <thead>
                    <tr class="font-weight-bold">
                        <th scope="col">License Plate</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Enter DateTime</th>
                        <th scope="col">Exit DateTime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in @Model.ParkingSpotOccupations)
                    {
                        <tr>
                            <td>@vehicle.OccupationVehicleLicensePlate</td>
                            <td>@vehicle.OccupationVehicleWorkerUserName</td>
                            <td>@vehicle.EnterDateTime</td>
                            @if (vehicle.ExitDateTime != null)
                            {
                                <td>@vehicle.ExitDateTime</td>
                            }
                            else
                            {
                                <td>Not Exited Yet</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <br />
        <p style="color: #CCE5EA">This Parking Spot Does Not Have Any Previous Occupations</p>
    }

</body>