@using SmartParkInnovate.Core.Models.ParkingSpot;

@model IEnumerable<ParkingSpotViewModel>

<br />
<body style="background-color: #4C98CF">
    <div class="container">
        <div class="row">
            @foreach (var spot in @Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4" style="border: none; box-shadow: none">
                    @if (!spot.IsOccupied)
                    {
                        <div class="card" style="background-color: #41CAC6; border-radius: 30px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #CCE5EA; font-size: 25px">Spot: @spot.Id</h5>
                                <p class="card-text" style="color: #CCE5EA; font-size: 20px">Spot Is Available</p>
                                <div class="d-flex justify-content-between">
                                    <a asp-controller="Parking" asp-action="UseSpot" asp-route-id="@spot.Id" class="btn btn-success p-3 fw-bold rounded-pill" style="width: 130px; background-color: #3BBD6E; border: none; box-shadow: none">Use</a>
                                    <a asp-controller="Parking" asp-action="Details" asp-route-id="@spot.Id" asp-route-information="@Guid.NewGuid()" class="btn btn-success p-3 fw-bold rounded-pill" style="width: 130px; background-color: #A9BD39; border: none; box-shadow: none">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card" style="background-color: #ED4366; border-radius: 30px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #CCE5EA; font-size: 25px">Spot Number: @spot.Id</h5>
                                <p class="card-text" style="color: #CCE5EA; font-size: 20px">Spot Is Occupied</p>
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Parking" asp-action="Details" asp-route-id="@spot.Id" class="btn btn-success p-3 fw-bold rounded-pill" style="width: 130px; background-color: #A9BD39; border: none; box-shadow: none">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>