@model PostDetailModel


<div class="card text-left" style="background-color: #41CAC6">
    <div class="card-header d-flex justify-content-between align-items-center" style="color: #CCE5EA; font-size: 20px">
        <span>@Model.PostDetailViewModel.WorkerUsername</span>
        @if (Model.CurrentUser == Model.PostDetailViewModel.WorkerId)
        {
            <a asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.PostDetailViewModel.Id" class="btn btn-link btn-sm"
               style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Edit</a>
        }
    </div>
    <div class="card-body">
        <p class="card-text" style="color: #CCE5EA; font-size: 18px; text-align: justify; text-justify: inter-word; line-height: 1;">@Model.PostDetailViewModel.PostBody</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between align-items-center" style="color: #CCE5EA">
        <div>
            <div>
                <a asp-controller="Post" asp-action="LikePost" class="btn btn-link btn-sm"
                   style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Like</a>
                <a asp-controller="Post" asp-action="CommentPost" class="btn btn-link btn-sm"
                   style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Comment</a>
            </div>
        </div>
        <div style="color: #CCE5EA">
            @Model.PostDetailViewModel.PostDate.ToString("dd.MM.yyyy HH:mm")
        </div>
    </div>
</div>



























@*
<body style="background-color: #4C98CF">
    <br />
    <div class="card text-left" style="background-color: #41CAC6">
        <div class="card-header d-flex justify-content-between align-items-center" style="color: #CCE5EA; font-size: 20px">
            <span>@Model.PostDetailViewModel.WorkerUsername</span>
        </div>
        <div class="card-body">
            <p class="card-text" style="color: #CCE5EA; font-size: 18px; text-align: justify; text-justify: inter-word; line-height: 1;">@Model.PostDetailViewModel.PostBody</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between align-items-center" style="color: #CCE5EA">
            <div>
                <div>
                    <a asp-controller="Post" asp-action="LikePost" class="btn btn-link btn-sm"
                       style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Like</a>
                    <a asp-controller="Post" asp-action="CommentPost" class="btn btn-link btn-sm"
                       style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Comment</a>
                </div>
            </div>
            <div style="color: #CCE5EA">
                @Model.PostDetailViewModel.PostDate.ToString("dd.MM.yyyy HH:mm")
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            @foreach (var item in items)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            @item.Title
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>@item.Quote</p>
                                <footer class="blockquote-footer">@item.Author</footer>
                            </blockquote>
                        </div>
                        <div class="card-footer">
                            <div class="float-left">
                                <strong>Likes:</strong>
                                @foreach (var like in item.Likes)
                                {
                                    <span>@like.UserName</span>
                                }
                            </div>
                            <div class="float-right">
                                <strong>Comments:</strong>
                                @foreach (var comment in item.Comments)
                                {
                                    <span>@comment.UserName</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>*@