@model PostDetailModel


<body style="background-color: #4C98CF">
    <div class="card text-left" style="background-color: #41CAC6">
        <div class="card-header d-flex justify-content-between align-items-center" style="color: #CCE5EA; font-size: 20px">
            <span>@Model.PostDetailViewModel.WorkerUsername</span>
            @if (Model.CurrentUser == Model.PostDetailViewModel.WorkerId)
            {
                <a asp-controller="Post" asp-action="EditPost" asp-route-id="@Model.PostDetailViewModel.Id" class="btn btn-link btn-sm"
                   style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Edit</a>
            }
        </div>
        <div class="card-body">
            <p class="card-text" style="color: #CCE5EA; font-size: 18px; text-align: justify; text-justify: inter-word; line-height: 1;">@Model.PostDetailViewModel.PostBody</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between align-items-center" style="color: #CCE5EA">
            <div>
                <div style="display: flex;">
                    <form asp-controller="Post" asp-action="LikePost" method="post">
                        <input type="hidden" name="id" value="@Model.PostDetailViewModel.Id" />
                        <div>
                            <button type="submit" class="btn btn-link btn-sm"
                                    style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">
                                @Model.PostDetailViewModel.LikesCount Likes
                            </button>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-link btn-sm"
                            style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">
                        @Model.PostDetailViewModel.CommentsCount Comments
                    </button>
                </div>
            </div>
            <div style="color: #CCE5EA">
                @Model.PostDetailViewModel.PostDate.ToString("dd.MM.yyyy HH:mm")
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="background-color: #41CAC6">
                <div class="card-header" style="color: #CCE5EA">
                    Likes
                </div>
                <ul class="list-group list-group-flush" style="background-color: #41CAC6">
                    @foreach (var likedUser in Model.PostDetailViewModel.PostLikes)
                    {
                        <li class="list-group-item" style="background-color: #41CAC6; color: #CCE5EA">@likedUser.WorkerUsername</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card" style="background-color: #41CAC6">
                <div class="card-header" style="color: #CCE5EA">
                    Comments
                </div>
                @foreach (var commentedUser in Model.PostDetailViewModel.PostComments)
                {
                    <div class="card" style="background-color: #41CAC6">
                        <div class="card-header">
                            @commentedUser.WorkerUsername
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p style="color: #CCE5EA">@commentedUser.CommentBody</p>
                                <footer class="blockquote-footer" style="color: #CCE5EA">@commentedUser.CommentDate</footer>
                            </blockquote>
                        </div>
                    </div>
                }
                <div>
                    <br />
                    <form asp-controller="Post" asp-action="CommentPost" method="post" class="d-flex flex-column align-items-start">
                        <div class="mb-3 d-flex align-items-center">
                            <input type="hidden" name="id" value="@Model.PostDetailViewModel.Id" />
                            <textarea asp-for="@Model.PostFormModel.PostBody" class="form-control me-2" style="background-color: #CCE5EA; resize: none; flex-grow: 1;" cols="90" rows="3" aria-required="true" placeholder="Enter Post Text"></textarea>
                            <span asp-validation-for="@Model.PostFormModel.PostBody" class="text-danger"></span>
                            <div class="mb-3">
                                <input class="btn btn-success p-3 fw-bold rounded-pill" style="min-width: 80px; background-color: #3BBD6E; border: none; box-shadow: none" type="submit" value="Publish Post" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>