@model List<PostViewModel>


<body style="background-color: #4C98CF">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3" style="color: #CCE5EA">Posts</h1>
            <a asp-controller="Post" asp-action="PublishPost"
               class="btn btn-success p-3 fw-bold rounded-pill"
               style="width: 130px; background-color: #3BBD6E; border: none; box-shadow: none">
                Publish Post
            </a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        foreach (var post in Model.OrderByDescending(c => c.PostDate))
        {
            <div class="card text-left" style="background-color: #41CAC6">
                <div class="card-header d-flex justify-content-between align-items-center" style="color: #CCE5EA; font-size: 20px">
                    <span>@post.WorkerUserName</span>
                    <a asp-controller="Post" asp-action="Details" class="btn btn-link btn-sm"
                       style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Details</a>
                </div>
                <div class="card-body">
                    <p class="card-text" style="color: #CCE5EA; font-size: 18px; text-align: justify; text-justify: inter-word; line-height: 1;">@post.PostBody</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between align-items-center" style="color: #CCE5EA">
                    <div>
                    <a asp-controller="Post" asp-action="LikePost" class="btn btn-link btn-sm"
                       style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">@post.LikesCount Like</a>
                    <a asp-controller="Post" asp-action="CommentPost" class="btn btn-link btn-sm"
                       style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">@post.CommentsCount Comment</a>
                    </div>
                    <div style="color: #CCE5EA">
                        @post.PostDate.ToString("dd.MM.yyyy HH:mm")
                    </div>
                </div>
            </div>
            <br />

        }
    }
    else
    {
        <h3 class="text-center" style="color: #CCE5EA">There Are No Posts Available</h3>
    }
</body>
