@model IEnumerable<AdminCommentViewModel>


<body style="background-color: #4C98CF">
    <h3 style="color: #CCE5EA">Manage Comments</h3>
        <br />
    @if (Model.Count() > 0)
    {
        @foreach (var comment in Model)
        {
            <div class="card" style="border-radius: 30px; background-color: #41CAC6;">
                <div class="card-header d-flex justify-content-between align-items-center" style="color: #CCE5EA">
                    <div>
                        @comment.CommentDate
                        @if (comment.IsDeleted == true)
                        {
                            <span>(Deleted)</span>
                        }
                    </div>
                    <div class="d-flex">
                        <div class="dropdown">
                            <button class="btn btn-link btn-sm dropdown-toggle-split" style="color: #CCE5EA; font-size: 25px; text-decoration: none; border: none; box-shadow: none;" type="button" id="likesDropDowmMenu" data-bs-toggle="dropdown">
                                ☰
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="PostOptions" style="border-radius: 15px; background-color: #41CAC6; border: 2px solid #4C98CF; box-shadow: none;">
                                @if (comment.IsDeleted == false)
                                {
                                    <li>
                                        <a asp-area="Admin" asp-controller="Post" asp-action="DeleteComment" asp-route-workerId="@comment.WorkerId" asp-route-postId="@comment.PostId" asp-route-commentDate="@comment.CommentDate" class="btn btn-link btn-sm"
                                           style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Delete Comment</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-area="Admin" asp-controller="Post" asp-action="ReturnComment" asp-route-workerId="@comment.WorkerId" asp-route-postId="@comment.PostId" asp-route-commentDate="@comment.CommentDate" class="btn btn-link btn-sm"
                                           style="color: #CCE5EA; font-size: 18px; text-decoration: none; border: none; box-shadow: none">Return Comment</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: #CCE5EA">@comment.WorkerUsername</h5>
                    <p class="card-text" style="color: #CCE5EA">@comment.CommentBody</p>
                </div>
            </div>
        }
    }
    else
    {
        <p style="color: #CCE5EA">There Are No Comments Available</p>
    }
</body>